@import 'normalize-scss/_normalize';
@import 'compass-mixins/lib/_compass';
@import 'compass-mixins/lib/compass/css3/_user-interface';

@function compact($vars...) {
  $list: ();
  @each $var in $vars {
      @if $var {
          $list: append($list, $var, comma);
      }
  }
  @return $list;
}

@font-face {
  font-family: 'DSEG7Classic-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/css/DSEG7Classic-Regular.woff) format('woff');
}


$primary-color: #fff;
$primary-line-height: 1.5;


$screen-tablet: 480px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;

$default-padding: 0.5rem;
$border-color: rgba(255, 255, 255, 0.3);
$button-border-color: rgba(167, 167, 167, 0.35);

html, body {
  min-height: 100%
}

html {
  color: $primary-color;
  font-family: 'Josefin Slab';
  font-size: 24px;
  @media screen and (min-width: $screen-desktop) {
    font-size: 32px;
  }

  @media screen and (min-width: $screen-lg-desktop) {
    font-size: 44px;
  }

  background-color: rgba(19,19,19,1);
  @include filter-gradient(#131313, #474747, vertical);
  @include background-image(linear-gradient(to bottom,
    rgba(19,19,19,1) 0%, 
    rgba(28,28,28,1) 9%, 
    rgba(43,43,43,1) 27%, 
    rgba(60,60,60,1) 75%, 
    rgba(71,71,71,1) 86%, 
    rgba(71,71,71,1) 97%, 
    rgba(71,71,71,1) 100%));
}


.canvas {
  border: 1px solid $border-color;
  @include border-radius(4px);
  margin: 0.5rem auto 0 auto;
  max-width: 600px;
  position: relative;;
  text-align: center;
  width: calc(100% - 1rem);

  @media screen and (min-width: $screen-lg-desktop) {
    max-width: 800px;
  }

  .edit-only, .edit-only-block {
    display: none;
  }

  &.editing {
    .edit-only {
      display: initial;
    }

    .edit-only-block {
      display: block;
    }

    .view-only {
      display: none;
    }
  }
}

input {
  background: rgba(0,0,0,0.8);
  border-color: $button-border-color;
  padding: 0.1rem 0.125rem;
}

hr {
  border-bottom-width: 0;
  color: $border-color;
  margin: 0;
}

.level {
  font-family: 'Orbitron';
  font-size: 1.5rem;
  line-height: 1.5;

  input {
    width: 3rem;
  }
}

.timer-container {
  cursor: default;
  padding: $default-padding;
  @include user-select(none);
}

.timer {
  border: 1px solid rgba(255,255,255,0.3);
  @include border-radius(0.25rem);
  @include box-shadow(1px 1px rgba(255,255,255,0.1));
  box-sizing: border-box;
  color: red;
  background: black;
  font-size: 3.5rem;
  overflow: hidden;
  padding: $default-padding 0;
}


.timer-text {
  font-family: 'DSEG7Classic-Regular';
  display: inline-block;
  vertical-align: middle;

  input {
    text-align: right;
    width: 6rem;
  }
}

.toggle-container {
  padding: $default-padding 0;
}

@mixin action-button($defaultSize, $largeSize, $xlSize) {
  background: rgba(255,255,255,.9);
  @include border-radius(50%);
  border: 1px solid rgba(0,0,0,.65);
  @include box-shadow(1px 1px 1px rgba(0,0,0,.5));
  color: black;
  cursor: pointer;
  height: $defaultSize;
  @include transition(all 0.25s ease-in-out);
  width: $defaultSize;

  &:hover, &:active, &:focus {
    background: rgba(255,255,255, 0.75);
    outline: none;
    @include transform(scale(1.1));
  }

  @media screen and (min-width: $screen-desktop) {
    height: $largeSize;
    width: $largeSize;
  }

  @media screen and (min-width: $screen-lg-desktop) {
    height: $xlSize;
    width: $xlSize;
  }

}

.toggle-button {
  @include action-button(48px, 96px, 140px);
  margin: 0 auto;
  position: relative;

  svg {
    @include transform(rotate(180deg));
    @include transition(transform 0.5s ease-in-out);

    &.paused {
      @include transform(none); 
    }
  }
}

.blinds {
  line-height: $primary-line-height;
  padding-bottom: $default-padding;
  padding-top: $default-padding;

  .next {
    font-size: 0.8rem;
    line-height: 1;
  }
}

.blind-table-container {
  padding: $default-padding 0;
}

.blind-table {
  margin: 0 auto;

  th, td {
    border: 1px solid $border-color;
    padding: 0.25rem;
  }



  thead tr {
    background: rgb(20, 21, 23);
  }

  tr:nth-child(2n) {
    th, td {
      background: rgb(45, 45, 45);
    }

    td:last-child {
      background: none;
    }
  }

  td:last-child {
    border: none;
  }
}

.remove-level-button {
  cursor: pointer;
  color: rgb(128, 128, 128);
  height: 24px;
  width: 24px;

  &:hover, &:focus {
    color: rgb(255, 255, 255);
  }

  svg {
    vertical-align: middle;
  }
}

.add-level-button {
  @include action-button(24px, 32px, 48px);
  margin: $default-padding auto;

  svg {
    vertical-align: middle;
  }
}

.players {
  line-height: $primary-line-height;
  padding-bottom: $default-padding;
  padding-top: $default-padding;

  .players-field > input,
  .players-started-field > input {
    width: 2.5rem;
  }

  .starting-chips > input {
    width: 3rem;
  }
}

.edit-button {
  position: absolute;
  right: 16px;
  top: 8px;

  button {
    background: rgb(0,0,0);
    border-color: $button-border-color;
    font-size: 0.8rem;
    padding-top: 0.2rem;

    @media screen and (min-width: $screen-lg-desktop) {
      font-size: 24px;
    }
  }
}

