<!DOCTYPE html>
{% autoescape true %}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/generated/main.css">
  <link href='https://fonts.googleapis.com/css?family=Orbitron|Josefin+Slab' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    window.game_id = '{{ game_id if game_id else null }}';
    window.client_id = '{{ client_id }}';
  </script>
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
</head>
<body>
  <div class="ng-cloak canvas" id="canvas">
    <div ng-controller="EditButtonController" class="action-buttons ng-hide">
      {% raw %}
      <div ng-attr-tabindex="{{editing ? -1 : 0}}" class="action-button edit-button" 
          ng-click="edit()" on-enter-key="edit()">
        <svg fill="currentColor" viewBox="0 0 24 24">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
      <div ng-attr-tabindex="{{editing ? 0 : -1}}" class="action-button ok-button" 
          ng-click="ok()" on-enter-key="ok()">
        <svg fill="currentColor" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
        </svg>
      </div>
      <div ng-attr-tabindex="{{editing ? 0 : -1}}" class="action-button cancel-button" 
          ng-click="cancel()" on-enter-key="cancel()">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path d="M5 5 L19 19 M5 19 L19 5 Z"/>
        </svg>
      </div>
      {% endraw %}
    </div>
    <div ng-controller="TimerController">
      <div class="level">
        <span class="level-span">
          Level <span class="view-only">{% raw %}{{levelIndex + 1}}{% endraw %}</span><input 
              type="number" class="edit-only" ng-model="levelInput_" min="1" 
              ng-change="levelInputChanged()"></input>
        </span>
      </div>
      <div class="timer-container">
        <div class="timer">
          <span class="timer-text">
            <span class="view-only" 
                ng-class="{levelend: running && minutes == 0 && seconds < 10, odd: seconds % 2}">
              {% raw %}
              <span>{{minutes | numberFixedLen:2}}</span><span 
                  class="colon">:</span><span 
                  class="seconds">{{seconds | numberFixedLen:2}}</span>
              {% endraw %}
            </span>
            <span class="edit-only">
              <input class="input-minutes" type="number" ng-model="minutesInput_" 
                  min="0" ng-change="minutesInputChanged()"></input><span 
                  class="colon">:</span><input 
                  class="input-seconds" type="number" ng-model="secondsInput_" min="0" max="59"
                  ng-change="secondsInputChanged()"></input>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div ng-controller="StartPauseController" 
        class="toggle-container view-only requires-edit-permission">
      <div class="toggle-button" ng-click="toggle()" on-enter-key="toggle()" tabindex="0">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="0px">
          <polygon fill="currentColor" points="3,12 17,4 17,20 3,12">
            <animate id="toPlay1" begin="indefinite" attributeName="points" dur="500ms" to="3,12 17,4 17,20 3,12" fill="freeze" />
            <animate id="toPause1" begin="indefinite" attributeName="points" dur="500ms" to="5,4 10,4 10,20 5,20" fill="freeze" />
          </polygon>
          <polygon fill="currentColor" points="3,12 17,4 17,20 3,12">
            <animate id="toPlay2" begin="indefinite" attributeName="points" dur="500ms" to="3,12 17,4 17,20 3,12" fill="freeze" />
            <animate id="toPause2" begin="indefinite" attributeName="points" dur="500ms" to="14,4 19,4 19,20 14,20" fill="freeze" />
          </polygon>
        </svg>
      </div>
    </div>
    <hr/>
    <div ng-controller="BlindController" class="blinds view-only">
      <div>Blinds:
        <span class="current">
          {% raw %}
          {{small}} / {{big}} <span ng-if="ante > 0">/ {{ante}}</span>
          {% endraw %}
        </span>
      </div>
      <div class="next" ng-if="nextSmall > 0">next: {% raw %}{{nextSmall}} / {{nextBig}} <span ng-if="nextAnte > 0">/ {{nextAnte}}</span>{% endraw %}</div>
    </div>
    <div ng-controller="EditBlindController" class="blind-table-container edit-only-block">
      <table class="blind-table">
        <thead>
          <tr>
            <th>Level</th>
            <th>Small</th>
            <th>Big</th>
            <th>Ante</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="level in levels">
              <td>{% raw %}{{$index + 1}}{% endraw %}</td>
              <td class="field-group" ng-mouseover="onItemMouseOver($event)"><span 
                      class="field">{% raw %}{{level.small}}{% endraw %}</span><input tabindex="0"
                  type="number" ng-model="smallInput_" min="1" 
                  ng-change="smallChanged($event, $index)" ng-focus="onInputFocus($event)"></input>
              </td>
              <td class="field-group" ng-mouseover="onItemMouseOver($event)"><span 
                      class="field">{% raw %}{{level.big}}{% endraw %}</span><input tabindex="0" 
                  type="number" ng-model="bigInput_" min="1" 
                  ng-change="bigChanged($event, $index)" ng-focus="onInputFocus($event)"></input>
              </td>
              <td class="field-group" ng-mouseover="onItemMouseOver($event)"><span 
                      class="field">{% raw %}{{level.ante}}{% endraw %}</span><input tabindex="0" 
                  type="number" ng-model="anteInput_" min="0" 
                  ng-change="anteChanged($event, $index)" ng-focus="onInputFocus($event)"></input>
              </td>
              <td>
                <div class="time-item">
                  <div class="field-group time-group" ng-mouseover="onItemMouseOver($event)">
                    <span class="field">{% raw %}{{
                        level.levelTime / 1000 / 60 |round|numberFixedLen:2}}{% endraw %}</span>
                    <input tabindex="0" 
                        type="number" ng-model="minutesInput_" min="0" 
                        ng-change="minutesChanged($event, $index)" 
                        ng-focus="onInputFocus($event)"></input>
                  </div>:<div 
                      class="field-group time-group" ng-mouseover="onItemMouseOver($event)">
                    <span class="field">{% raw %}{{
                        level.levelTime / 1000 % 60 |round|numberFixedLen:2}}{% endraw %}</span>
                    <input tabindex="0" 
                        type="number" ng-model="secondsInput_" min="0" 
                        ng-change="secondsChanged($event, $index)" 
                        ng-focus="onInputFocus($event)"></input>
                  </div>
                </div>
              </td>
              <td ng-click="remove($index)" class="remove-level-button" tabindex="0">
                <svg viewBox="0 0 24 24" stroke="currentColor" 
                    stroke-width="2">
                  <path d="M4 4 L20 20 M4 20 L20 4 Z"/>
                </svg>
              </td>
           </tr>
        </tbody>
      </table>
      <div class="add-level-button" ng-click="add()" tabindex="0">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path d="M4 12 L20 12 M12 4 L12 20 Z"/>
        </svg>
      </div>
    </div>
    <hr/>
    <div ng-controller="PlayerController" class="players">
      <div class="players-field">
        Players:
        <span class="players-field">
          <span class="view-only">{% raw %}{{players}}{% endraw %}</span>
          <input type="number" class="edit-only" ng-model="playersInput" min="1" 
              ng-change="playersInputChanged()"></input>
        </span>
        <span class="players-started-field">
          (started:
          <span class="view-only">{% raw %}{{playersStarted}}{% endraw %}</span><input 
              type="number" class="edit-only" ng-model="playersStartedInput" min="1"
              ng-change="playersStartedInputChanged()"></input>)
        </span>
      </div>
      <div class="remove-player-container requires-edit-permission view-only">
        <button ng-click="manDown()" ng-if="players > 0">Man down!</button>
      </div>
      <div ng-if="averageChips() > 0" class="view-only">
        Average stack: {% raw %}{{averageChips() |round}}{% endraw %}
      </div>
      <div class="edit-only starting-chips">
        Staring chips: 
        <input type="number" class="edit-only" ng-model="startingChipsInput" min="0"></input>
      </div>
    </div>
    <hr/>
  </div>
  <div class="share-link ng-hide" ng-controller="ShareLinkController" ng-show="link">
    <span>code to open this game:</span>
  </div>
  <audio ng-controller="LevelUpAudioController" 
      src="/res/levelup.mp3" preload="auto" type="audio/mpeg">
  </audio>
  
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="/lib/qrcode.js/qrcode.js"></script>
  {% if js_compiled %}
    <script type="text/javascript" src="/generated/compiled.js"></script>
  {% else %}
    <script src="/lib/google-closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="/generated/deps.js"></script>
    <script>goog.require('poker.boot');</script>
    <script>goog.require('poker.controllers');</script>
  {% endif %}
  
  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=handleApiLoad"></script>
</body>
</html>
{% endautoescape %}