<!DOCTYPE html>
{% autoescape true %}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/generated/main.css">
  <script type="text/javascript">
    window.game_id = '{{ game_id if game_id else null }}';
  </script>
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
</head>
<body>
  <div ng-controller="DummyController">
    <h1>Hello Jinja
      <span class="ng-cloak"> 
      - {% raw %}{{players}}{% endraw %}
      - {% raw %}{{now}}{% endraw %}
      </span></h1>
    <div class="ng-cloak">
      <div ng-repeat="level in levels">
        {% raw %}
        <div>{{level.small}}/{{level.big}}/{{level.ante}} - {{level.levelTime}}</div>
        {% endraw %}
      </div>
    </div>
    <div ng-controller="StartPauseController" class="ng-cloak">
      <button ng-click="start()">Start</button>
      <button ng-click="pause()">Pause</button>
      <span>Is running: {% raw %}{{running}}{% endraw %}</span>
      <span>Game time: {% raw %}{{gameTime}}{% endraw %}</span>
    </div>
    <div ng-controller="TimerController" class="ng-cloak">
      <span>Game time: {% raw %}{{minutes}}:{{seconds | numberFixedLen:2}}{% endraw %}</span>
    </div>
  </div>

  
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
  {% if js_compiled %}
    <script type="text/javascript" src="/generated/compiled.js"></script>
  {% else %}
    <script src="/lib/google-closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="/generated/deps.js"></script>
    <script>goog.require('poker.boot');</script>
    <script>goog.require('poker.controllers');</script>
  {% endif %}
  
  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=handleApiLoad"></script>
</body>
</html>
{% endautoescape %}