<!DOCTYPE html>
{% autoescape true %}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/generated/main.css">
  <link href='https://fonts.googleapis.com/css?family=Orbitron|Josefin+Slab' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    window.game_id = '{{ game_id if game_id else null }}';
  </script>
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
</head>
<body>
  <div class="ng-cloak canvas" id="canvas">
    <div ng-controller="EditButtonController" class="edit-button ng-hide">
      <button class="view-only" ng-click="edit()">EDIT</button>
      <button class="edit-only" ng-click="ok()">OK</button>
      <button class="edit-only" ng-click="cancel()">CANCEL</button>
    </div>
    <div ng-controller="TimerController">
      <div class="level">Level {% raw %}{{levelIndex + 1}}{% endraw %}</div>
      <div class="timer-container">
        <div class="timer">
          <span class="timer-text">
            {% raw %}
            {{minutes | numberFixedLen:2}}<span class="colon">:</span><span class="seconds">{{seconds | numberFixedLen:2}}</span>
            {% endraw %}
            </span>
        </div>
      </div>
    </div>
    <div ng-controller="StartPauseController" class="toggle-container">
      <div class="toggle-button" ng-click="toggle()" tabindex="0">
        <svg id="bar" viewBox="0 0 24 24" stroke="currentColor" stroke-width="0px">
          <polygon fill="currentColor" points="3,12 17,4 17,20 3,12">
            <animate id="toPlay1" begin="indefinite" attributeName="points" dur="500ms" to="3,12 17,4 17,20 3,12" fill="freeze" />
            <animate id="toPause1" begin="indefinite" attributeName="points" dur="500ms" to="5,4 10,4 10,20 5,20" fill="freeze" />
          </polygon>
          <polygon fill="currentColor" points="3,12 17,4 17,20 3,12">
            <animate id="toPlay2" begin="indefinite" attributeName="points" dur="500ms" to="3,12 17,4 17,20 3,12" fill="freeze" />
            <animate id="toPause2" begin="indefinite" attributeName="points" dur="500ms" to="14,4 19,4 19,20 14,20" fill="freeze" />
          </polygon>
        </svg>
      </div>
    </div>
    <hr/>
    <div ng-controller="BlindController" class="blinds">
      <div>Blinds:
        <span class="current">
          {% raw %}
          {{small}} / {{big}} <span ng-if="ante > 0">/ {{ante}}</span>
          {% endraw %}
        </span>
      </div>
      <div class="next" ng-if="nextSmall > 0">next: {% raw %}{{nextSmall}} / {{nextBig}} <span ng-if="nextAnte > 0">/ {{nextAnte}}</span>{% endraw %}</div>
    </div>
    <hr/>
    <div ng-controller="PlayerController" class="players">
      Players: 
      <span class="view-only">{% raw %}{{players}}{% endraw %}</span>
      <input type="number" class="edit-only" ng-model="number" min="1"></input>
    </div>
  </div>
  
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
  {% if js_compiled %}
    <script type="text/javascript" src="/generated/compiled.js"></script>
  {% else %}
    <script src="/lib/google-closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="/generated/deps.js"></script>
    <script>goog.require('poker.boot');</script>
    <script>goog.require('poker.controllers');</script>
  {% endif %}
  
  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=handleApiLoad"></script>
</body>
</html>
{% endautoescape %}